/* header-style.css */

/* Updated styles for AppBar */
#main-toolbar-outer {
    width: 100%;
    height: 130px; /* You can adjust this value to increase the height */
}

/* Centering content inside the Toolbar */
#main-toolbar-outer .MuiTypography-h4 {
    font-size: 30px; /* Increased font size, !important to ensure override */
    font-weight: 500; /* Making the font weight bold, !important to ensure override */
}

/* If you're using flexbox to center the items, apply it to the Toolbar itself */
#main-toolbar-outer .MuiToolbar-root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
