/* src/components/sidebar.css */
/* src/components/sidebar.css */

.sidebar {
    width: 225px; /* Increase the width as needed */
    background-color: #ffffff; /* Light gray background */
    /* Other styling as needed */
    padding-top: 117px; /* Add padding to the top to move the text down */
    font-size: 1.25rem; /* Increase font size */
    transition: transform 0.3s ease;
  }
  
  /* Adjust the .nav-item or equivalent class to center the text if needed */
  .nav-item {
    /* Other styling */
    text-align: center; /* Center the text horizontally */
    padding: 10px 15px; /* Adjust padding to increase hit area and spacing */
  }
  
  /* You may want to add a hover effect to your nav items */
  .nav-item:hover {
    background-color: #e1e1e1; /* Slightly darker gray for hover state */
  }
  
  /* Adjust active class for the nav item if using one */
  .nav-item.active {
    background-color: #dcdcdc; /* Different shade for active state */
    /* Other styling as needed */
  }
  
  
  .sidebar-content {
    padding: 1rem;
  }
  
  .nav-item {
    display: block;
    padding: 0.5rem 1rem;
    color: #333; /* Color for the text */
    text-decoration: none; /* Removes underline from links */
    transition: background-color 0.2s; /* Smooth transition for hover effect */
  }
  
  .nav-item:hover {
    background-color: #f3f3f3; /* Color change on hover */
  }
  
  .nav-item.active {
    background-color: #f3f3f3; /* Color for the active item, change as needed */
    color: #333; /* Color for the active text, change as needed */
    font-weight: bold; /* Make active link bold */
  }
  .sidebar .nav-item {
    padding-top: 20px; /* Adjust the value as needed */
    display: block; /* This makes each link block-level, which means it will take up the full width of the sidebar */
    /* other styles */
  }
  .open {
    transform: translateX(0);
}

.closed {
    transform: translateX(-100%);
}

/* sidebar.css */
.sidebar {
    width: 250px; /* Sidebar width */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #f3f3f3; /* Light gray background color */
    padding: 1rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  .close-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
  
  .close-button svg {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
  
  .nav-item {
    display: block;
    padding: 0.5rem 0;
    text-decoration: none;
    color: #333;
  }
  
  .nav-item.active {
    color: #77ced3;
  }
  
  /* Add additional styling as per your design requirements */
  